{
	"username": "your PoGo username",
	"password": "your PoGo password",
	"latitude": 0,
	"longitude": 0,
	"do_not_notify": [
		"zubat"
	],
	"notification_providers": {
		"pushbullet": {
			"token": "your token",
			"deviceParams": "your pushbullet email"
		},
		"hipchat": {
			"token": "your token",
			"roomid": "room ID",
			"endpoint": "https://somewhat.hipchat.com"
		}
	}
}