{
	"username": "your PoGo username",
	"password": "your PoGo password",
	"latitude": 0,
	"longitude": 0,
	"pushbullet_token": "your pushbullet token",
	"pushbullet_accounts": [
		"testing@aaaaa.com"
	],
	"do_not_notify": [
		"zubat"
	]
}